# Node modules
node_modules/

# Build output
dist/
build/

# Env variables
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Code coverage
coverage/
.nyc_output/

# OS files
.DS_Store

# Cypress videos/screenshots (optional, if you don’t want to track them)
cypress/videos/
cypress/screenshots/

